h1{
	text-align: center;
	font-size: 400%;
	color: black;
	font-family: georgia,garamond,serif;
}

.image{
	position: center;
}

.name{
	font-size: 25px;
	color: black;
	line-height: 120%;
}

h2{
	color: black;
}

p{
	font-size: 18px;
}